{% extends 'base.html' %}
{% load static %}

{% block title %}Diagram{% endblock title %}

{% block meta %}
{% comment %} <script type="module" src="{% static 'diagram/scripts.js' %}"></script> {% endcomment %}
{% endblock meta %}

{% block content %}
<div id="lol"></div>
<div id="like_button_container"></div>
{% endblock content %}

{% block script %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{% comment %} <script type="module" src="{% static 'diagram/diagram.js' %}"></script> {% endcomment %}
<script type="module">
import createEngine, { 
  DefaultLinkModel, 
  DefaultNodeModel,
  DiagramModel 
} from "{% static 'diagram/node_modules/projectstorm/react-diagrams' %}";
</script>

{% endblock script %}
