{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block meta %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}" />  
{% endblock meta %}
{% block nav %}{% endblock nav %}
{% block content %}
  

  
  <form method="post" action="{% url 'login' %}" style="width: 300px; height: 300px; align-self: center; transform: translate(-50%,-50%); position: absolute; top: 50%; left: 50%;" >
    {% csrf_token %}
    {% if form.errors or next %}
      <div class="alert alert-danger" role="alert">
        {% if form.errors %}
          <div style="text-align: center">Your username and password didn't match. Please try again.</div>
        {% endif %}
        {% if next %}
          {% if user.is_authenticated %}
            <div style="text-align: center">Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</div>
          {% else %}
            <div style="text-align: center">Please login to see this page.</div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
      <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{% firstof form.username.value "" %}">
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
      <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" value="{% firstof form.password.value "" %}">
    </div>
    {% comment %} <button type="submit" class="btn btn-primary" value="login">Submit</button> {% endcomment %}
    <div style="display: flex; justify-content: space-between; align-items: center"><input type="submit" value="Login" class="btn btn-primary">
    <input type="hidden" name="next" value="{% url 'editor' %}">
    <a href="{% url 'register' %}">Create new account</a></div>
  </form>

  
{% endblock content %}